@model MVC5.ViewModel.Email.EmailConfirmEmail
@{
    Layout = "~/Views/Emails/_EmailLayout.cshtml";
}

@section Headers {
    To:  @Model.To
    Subject: فعال سازی حساب کاربری
    Content-Type: text/html; charset=utf-8
}

<p>
    برای فعال سازی حساب خود بر روری لینک مقابل کلیک کنید
    
</p>
<a href="@Model.Link">فعال سازی</a>
<a href="@Model.Link">@Model.Link</a>


