@{
    ViewBag.Title = "Home Page";
}
<hr/>
<div class="jumbotron">
    <h2>سیستم مدیریت محتوای فروشگاه ساز</h2>
    <p class="lead">
        این پروژه بر اساس تمام نکات گفته شده توسط جناب نصیری تهیه شده است
        و دو پروژه ک توسط ایشان ارائه شده بود به علاوه سیستم مدیریت کابران و نقش ها و دسترسی ها به صورت داینامیک
        را ها بنده به این پروژه ها افزوده و در واقع برای ادامه پروژه فروشگاه شهر طلایی من از این قالب استفاده خواهد شد.
        دوستانی که مایل باشند میتوانند با بنده همکاری کنند
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

    </p>
</div>

