@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>طراحی یک فریمورک برای کار با Asp.net MVC , EF</strong>
            </div>
            <div class="panel-body" style="min-height: 300px;">
                خیلی علاقه مند بودم با افرادی که توانایی کار های بزرگ را دارند ولی تنهایی کار میکنند ، به صورت گروهی یک کار بزرگ را شروع کنیم
                ولی خب اکثرا مشغول هستند.
                هدف بنده ساخت یک قالب پایه برای پروژه ها تحت وب بود که تا الان که ورژن 1.0.0.0 
                آن منتشر میشود ، کم و بیش به این هدف رسیدم . اگر دوستان علاقه به تکمیل کار بنده و آقای سید مجتبی حسینی دارند 
                ، میتوانند در سایت 
                <a href="http://www.dotnettips.info">.NET Tips </a>
                ما را همراهی کنند.
            </div>
            <div class="panel-footer">
                <strong>
                    غلامرضا ربال-دانشجوی ترم 6 مهندسی فناوری اطلاعات دانشگاه صنعتی ارومیه-
                    شماره تماس -09146208938
                </strong>
            </div>
        </div>
    </div>
</div>
