@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h3>
        طراحی یک فریمورک برای کارکردن با
        Asp.net MVC و Entity Framework
    </h3>
    <p class="lead">
        طراحی فریمورک برای کار با Asp.net MVC و EF به صورت NTier

        هدف اصلی بنده ساخت یک قالب  آماده بر اساس مقالاتی که تا الان در سایت جاری مطالعه کردم ، بود.همانطور که در مقاله مربوط به  چک لیست تهیه یک برنامه Asp.net MVC ، در نکات تکمیلی پیشنهاد شد:

        امکان تهیه قالب‌های سفارشی VS.NET و لحاظ موارد فوق در آن جهت استفاده‌های بعدی نیز وجود دارد
        بنده هم سعی کردم تمام این نکات را در پروژه اعمال کنم . قالب مورد نظر بنده کامل نیست فعلا و نهایت تا آخر این هبفته تکمیل میکنم . صرفا برای نظر سنجی از دوستان  پروژه را زودتر ارائه دادم.  پروژه از 10 Class Library تشکیل شده است و تمام نکات مربوط به SEO و Security و Performance را که در سایت جاری مطرح شده بود ، اعمال کرده ام . سیستم داینامیک برای مدیریت دسترسی‌ها و سیستم لاگ گیری از فعالیت‌های کاربران نیز در نظر گرفته شده است.

        دوستان نظرات خود را در بازخورد ایجاد شده توسط بنده مطرح کنید.

        در ادامه (تا یک هفته) با استفاده از این قالب یک وبلاگ کامل را ارائه خواهم داد.


        
    </p>
</div>

