@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>طراحی یک فریمورک برای کار با Asp.net MVC , EF</strong>
            </div>
            <div class="panel-body" style="min-height: 300px;">
                هدف اصلی بنده ساخت یک قالب  آماده بر اساس مقالاتی که تا الان در سایت جاری
                مطالعه کردم ، بود.همانطور که در مقاله مربوط به  چک لیست تهیه یک برنامه Asp.net MVC ، در نکات تکمیلی پیشنهاد شد:

                << تهیه قالب‌های سفارشی VS.NET و لحاظ موارد فوق در آن جهت استفاده‌های بعدی نیز وجود دارد>>
                بنده هم سعی کردم تمام این نکات را در پروژه اعمال کنم . قالب مورد نظر بنده کامل نیست ، صرفا برای نظر سنجی از دوستان  پروژه را زودتر ارائه دادم .
            </div>
        </div>
    </div>
</div>
