@{
    ViewBag.Title = "لیست نقش های کاربری";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                @Html.ActionLink("درج نقش جدید", MVC.Administrator.Role.ActionNames.Create, MVC.Administrator.Role.Name, new { area = "Administrator" }, new { @class = "btn btn-sm btn-info" })
            </div>
            <div class="col-md-6">
                @using (Ajax.BeginForm(MVC.Administrator.Role.ActionNames.ListAjax, MVC.Administrator.Role.Name, new { area = "Administrator" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "roleList" }, new { @class = "form-horizontal" }))
                {
                    <input name="term" value="" placeholder="جستجو با نام" type="text" class="form-control" />
                }
            </div>
        </div>
    </div>
    <div id="roleList">
        @{Html.RenderAction(MVC.Administrator.Role.ActionNames.ListAjax, MVC.Administrator.Role.Name);}
    </div>

</div>
