
@font-face {
    font-family: 'wYekan';
    src: url('../Content/fonts/wYekan.eot?#') format('eot'), /* IE6–8 */
    url('../Content/fonts/wYekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../Content/fonts/wYekan.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

body {
    font-family: 'wYekan' !important;
    background-color: #eee !important;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'wYekan' !important;
}
/* Set padding to keep content from hitting the edges */


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */

.overlay {
    width: 90%;
    margin: 0 auto 20px auto;
    height: 400px;
    background-position: center,center;
    background-repeat: repeat,no-repeat;
    -moz-background-size: 1px 1px,cover;
    -o-background-size: 1px 1px,cover;
    -webkit-background-size: 1px 1px,cover;
    background-size: 1px 1px,cover;
    background-image: url(images/Overlays/01.png),url(images/herftwandeling2.jpg);
}
