
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>طراحی یک فریمورک برای کار با Asp.net MVC , EF</strong>
            </div>
            <div class="panel-body" style="min-height: 300px;">
               صفحه مدیریت
            </div>
        </div>
    </div>
</div>


