@model MVC5.ViewModel.Account.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    var authenticationDescriptions = loginProviders as AuthenticationDescription[] ?? loginProviders.ToArray();
}

@if (authenticationDescriptions.Any())
{

    using (Html.BeginForm(MVC.Account.ActionNames.ExternalLogin, MVC.Account.Name, new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        foreach (var p in authenticationDescriptions)
        {
            <div class="col-md-6">
                <input type="submit" class="btn btn-danger btn-block text-capitalize" id="@p.AuthenticationType" name="provider"
                       value="@p.AuthenticationType" title="@p.Caption ورود با حساب" />
                <hr />
            </div>
        }

    }
}

