
@{
   
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>سلام کاربر گرامی !</strong>
    </div>
    <div class="panel-body min-height-340">
        <p>
            منوی کاربری، از طریق کلیک بر روی منوی سه سطری کنار عنوان سایت ظاهر می‌شود.
            خروجی بانک اطلاعاتی سایت با فرمت XML جهت کاربران فعال سایت «از اینجا» قابل دریافت است. همچنین برنامه و «پروژه‌ای» نیز برای مطالعه آفلاین آن تدارک دیده شده‌است.
            لطفا اگر قصد انتشار مطالب علمی و آموزشی همخوان با موضوع سایت و متعلق به خودتان را دارید، از قسمت «ارسال مطلب» استفاده کنید.
            اگر صرفا قصد معرفی مطالب آموزشی مرتبط با موضوع سایت را که توسط دیگران تهیه شده‌اند، دارید و یا اینکه مطلب خودتان است در سایتی دیگر و علاقمند نیستید آن‌را در قسمت مطالب سایت جاری منتشر کنید، لطفا از قسمت «ارسال اشتراک‌ها» استفاده نمائید.
            اگر قصد معرفی و تبلیغ کارها، محصولات، برنامه‌ها، کتاب‌ها، دوره‌های آموزشی، سایت‌های کاری مرتبط و امثال آن را دارید و این محصولات قرار نیست رایگان، سورس باز یا به همراه انتشار مقاله‌ای علمی در مورد جزئیات فنی تهیه آن‌ها باشند، لطفا از قسمت معرفی «آگهی‌های نویسندگان» سایت استفاده نمائید. به علاوه در قسمت توضیحات «پروفایل شخصی» در سایت نیز می‌توانید جزئیات بیشتری از کارهای خود یا سایت‌های مرتبط را نیز قرار دهید.
            اگر قصد معرفی و دریافت بازخورد پروژه‌های خود را دارید و این پروژه‌ها عموما سورس باز یا رایگان هستند، لطفا از قسمت «ارسال پروژه‌ها» استفاده کنید. برای ایجاد یک پروژه جدید نیاز است حداقل یک مطلب ارسالی در سایت داشته باشید.
            اگر علاقمندید در مورد مطلبی خاص پیرامون زمینه کاری سایت جاری، نظرسنجی را ترتیب دهید، لطفا از قسمت «ارسال نظرسنجی» استفاده نمائید. برای ایجاد یک نظرسنجی جدید باید حداقل یک مطلب ارسالی در سایت داشته باشید.
            برای ایجاد یک دوره جدید نیاز است حداقل 7 مطلب ارسالی در سایت داشته باشید. این عدد جهت شناخت اعضاء برای شرکت در دوره‌های شما ضروری است.
            اگر علاقمند هستید که از کلیه تغییرات سایت (مطالب، نظرات، لینک‌ها و غیره) آگاه شوید، بهتر است مشترک فید «آخرین تغییرات» سایت شوید.
        </p>
    </div>
   
</div>


