@{
    ViewBag.Title = "نمایش ایمیل";
}
<h2>@ViewBag.Title.</h2>
<div class="alert alert-info">

    <p class="lead">
      صرفا برای نمایش کار این صفحه در نظر گرفته شده است
    </p>
    <p class="lead">
        <a class="btn btn-info" href="@ViewBag.Link">تأیید حساب کاربری</a>کاربر گرامی برای فعال سازی حساب خود ، کلیک کنید
    </p>

</div>